# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/NET2MQTT_console/.vs/NET2MQTT_console/FileContentIndex
/NET2MQTT_console/NetGent_F/obj/Debug/net6.0
/NET2MQTT_console/NetGent_F/obj
/NET2MQTT_console/NetGent_V/obj/Debug/net6.0
/NET2MQTT_console/NetGent_V/obj
/SnSYS_IoT/obj
/UnitTestApp/obj
/NET2MQTT_console/.vs/NET2MQTT_console/v17
/NET2MQTT_console/NetGent_F/bin/Debug/net6.0
/NET2MQTT_console/NetGent_V/bin/Debug/net6.0
/SnSYS_IoT/bin/Debug/net6.0
/UnitTestApp/bin/Debug/net6.0
/NET2MQTT_console/.vs
